.background-square {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 20px;
}


.digit-box {
  width: 50px;
  height: 80px;
  margin: 0 5px;
  background: #111;
  color: white;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.icon-box {
  width: 100px;
}